
html{
    width:100%; height:100vh;
    overflow: hidden;
}

body{
    width:100%; height:100vh;
    background: url(../../img/mononoke024.jpg);
    background-repeat: no-repeat; background-size:100% 100%;
}

#slider{
    width:100%; height:80vh;
    border:3px solid white;
    display:flex;
}
    #ge1{
        width:18vw; height:18vh; 
        background-color:purple;
    }
    #ge2{
        width:15vw; height:18vh;
        background-color: orange;
    }
    #ge3{
        width:15vw
    }